In [105]:
!pip install tweepy -U

Requirement already satisfied: tweepy in c:\users\alex\anaconda3\lib\site-packages (3.9.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\alex\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\alex\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\alex\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\alex\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: requests>=2.0.0 in c:\users\alex\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alex\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\alex\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [28]:
import tweepy
import pandas as pd
import time
import re
import numpy as np
import json

# Connecting to Twitter API

In [74]:
credentials = {}
with open("twitter_credentials.txt") as f:
    for line in f:
       (key, val) = line.replace('\n','').split(':')
       credentials[key] = val

In [75]:
consumer_key = credentials['consumer_key']
consumer_secret = credentials['consumer_secret']
access_token = credentials['access_token']
access_token_secret = credentials['access_token_secret']
print(credentials)
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

{'consumer_key': '9DsWGenIZLFwB86U1dQOJvbqi', 'consumer_secret': 'Csn5XphXA39MUWVHA9pXDhDcfpHQ1Gt24D8ppMwK0iuLwaxjbF', 'access_token': '489122000-ZAe3Gb4yG9LLue0Jc7kAoFEkJO9TQsm0z9PCNGdn', 'access_token_secret': 'j7QqWZwgG2AczBxa9fttvKNOOxKl44u5t0gBtyxM3apGG'}

In [207]:
def extract_timeline_as_df(timeline_list,search_word,date_since,n_results):
    columns = set()
    allowed_types = [str, int,bool]
    tweets_data = []
    for status in tweepy.Cursor(api.search,q=search_words, lang="es", tweet_mode='extended').items(n_results):        
        try:
            status_dict = dict(vars(status))
            keys = status_dict.keys()
            single_tweet_data = {"author": status.author.screen_name,"author_id":str(status.author.id)}
            for k in keys:
                try:
                    v_type = type(status_dict[k])
                except:
                    v_type = None
                if v_type != None:
                    if v_type in allowed_types:
                        single_tweet_data[k] = status_dict[k]
                        columns.add(k)
            if 'retweeted_status' in keys:
                single_tweet_data['full_text'] = status.retweeted_status.full_text
            tweets_data.append(single_tweet_data)
        except:
            continue
    header_cols = list(columns)
    header_cols.append('author')
    header_cols.append("author_id")
    df = pd.DataFrame(tweets_data, columns=header_cols)
    return df

In [26]:
search_words = "mujeres+videojuegos OR chicas+videojuegos OR tias+videojuegos"
date_since = "2018-11-16"

In [221]:
df = extract_timeline_as_df(api.home_timeline(),s,date_since,1000)

In [68]:
df = pd.read_csv('tweetsDF.csv')
df

,Unnamed: 0,quoted_status_id,quoted_status_id_str,lang,possibly_sensitive,id_str,id,truncated,in_reply_to_status_id_str,source,...,source_url,retweet_count,in_reply_to_user_id_str,in_reply_to_user_id,is_quote_status,in_reply_to_status_id,favorited,favorite_count,author,author_id
0,0,NaN,NaN,es,NaN,1332662039328731138,1332662039328731138,False,NaN,Twitter for iPhone,...,http://twitter.com/download/iphone,4,NaN,NaN,False,NaN,False,0,carmen4366,2875077087
1,1,NaN,NaN,es,NaN,1332656127864139782,1332656127864139782,False,NaN,Twitter for Android,...,http://twitter.com/download/android,0,NaN,NaN,False,NaN,False,2,ansexder,1193667502301237248
2,2,NaN,NaN,es,NaN,1332639420701401089,1332639420701401089,False,1.332333e+18,Twitter Web App,...,https://mobile.twitter.com,0,1.631909e+09,1.631909e+09,False,1.332333e+18,False,0,Sebatian2840,2351349126
3,3,NaN,NaN,es,NaN,1332632576771633153,1332632576771633153,False,1.332633e+18,Twitter for Android,...,http://twitter.com/download/android,0,8.192529e+17,8.192529e+17,False,1.332633e+18,False,0,Limon_Kawaii,819252867991240705
4,4,NaN,NaN,es,NaN,1332626228822630403,1332626228822630403,False,1.332626e+18,Twitter Web App,...,https://mobile.twitter.com,0,4.595703e+08,4.595703e+08,False,1.332626e+18,False,0,nemuritor98,459570327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,585,NaN,NaN,es,NaN,1329434790957883396,1329434790957883396,False,1.329434e+18,Twitter Web App,...,https://mobile.twitter.com,0,7.018225e+07,7.018225e+07,False,1.329434e+18,False,1,nucaica,369664862
274,586,NaN,NaN,es,NaN,1329432613447217157,1329432613447217157,False,1.329433e+18,Twitter for Android,...,http://twitter.com/download/android,0,3.044738e+09,3.044738e+09,False,1.329433e+18,False,1,Pedrojose_113,3044738452
275,587,NaN,NaN,es,NaN,1329409221226606593,1329409221226606593,False,1.329409e+18,Twitter Web App,...,https://mobile.twitter.com,0,7.536650e+17,7.536650e+17,False,1.329409e+18,False,1,JosRV2000,753665009830531072
276,588,NaN,NaN,es,False,1329402337396482050,1329402337396482050,False,1.329400e+18,Twitter Web App,...,https://mobile.twitter.com,0,3.313058e+09,3.313058e+09,False,1.329400e+18,False,0,ObsNoctambulas,3313057823
277,589,NaN,NaN,es,NaN,1329397541268549636,1329397541268549636,False,NaN,proxwitch,...,http://www.twitter.com/proxwitch,1,NaN,NaN,False,NaN,False,0,proxWitch,943982708426002432

In [214]:
df.drop_duplicates('full_text',inplace =True)

In [215]:
df

,quoted_status_id,quoted_status_id_str,lang,possibly_sensitive,id_str,id,truncated,in_reply_to_status_id_str,source,in_reply_to_screen_name,...,source_url,retweet_count,in_reply_to_user_id_str,in_reply_to_user_id,is_quote_status,in_reply_to_status_id,favorited,favorite_count,author,author_id
0,NaN,NaN,es,NaN,1333045112184709121,1333045112184709121,False,1333043996273348609,Twitter for Android,Karrizu_,...,http://twitter.com/download/android,0,587737603,587737603.0,False,1.333044e+18,False,0,Karrizu_,587737603
1,1.332958e+18,1332958223330992129,es,NaN,1333043749350420480,1333043749350420480,False,NaN,Twitter for Android,NaN,...,http://twitter.com/download/android,4,NaN,NaN,True,NaN,False,0,Sandychan_n,220345519
2,NaN,NaN,es,NaN,1333041270902710272,1333041270902710272,False,NaN,Twitter for Android,NaN,...,http://twitter.com/download/android,8,NaN,NaN,False,NaN,False,0,alebarbiie,27141348
4,NaN,NaN,es,False,1333026095780782080,1333026095780782080,False,NaN,Twitter for Android,NaN,...,http://twitter.com/download/android,0,NaN,NaN,False,NaN,False,0,marescrack,3204688732
5,NaN,NaN,es,NaN,1333012241118081034,1333012241118081034,False,1333008180012572672,Twitter for iPhone,obsesiones21,...,http://twitter.com/download/iphone,0,57923284,57923284.0,False,1.333008e+18,False,4,soris_dissastr,1049076838042099712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,1.329722e+18,1329721722174656512,es,False,1329723914436694016,1329723914436694016,False,NaN,Twitter for iPhone,NaN,...,http://twitter.com/download/iphone,0,NaN,NaN,True,NaN,False,2,cuquiquinn,1232808377417371649
605,NaN,NaN,es,NaN,1329720058025816065,1329720058025816065,False,1329714284218212354,Twitter for Android,TitoDeadpooloso,...,http://twitter.com/download/android,0,107815551,107815551.0,False,1.329714e+18,False,0,Althaell,2998511224
607,NaN,NaN,es,NaN,1329689523006156800,1329689523006156800,False,1329574725836812289,Twitter for Android,stivenmorales95,...,http://twitter.com/download/android,0,177272685,177272685.0,False,1.329575e+18,False,2,2606Noelia,1166708502976434178
608,NaN,NaN,es,False,1329686947875483651,1329686947875483651,False,NaN,Twitter for iPhone,NaN,...,http://twitter.com/download/iphone,0,NaN,NaN,False,NaN,False,0,FOlalquiaga,1081223882311430149
609,NaN,NaN,es,False,1329671592146857986,1329671592146857986,False,NaN,Twitter for Android,NaN,...,http://twitter.com/download/android,2,NaN,NaN,False,NaN,False,0,lambdahugo,48753527

In [12]:
df.to_csv('tweetsDF.csv')

def clean_text_column(text):
    text = text.replace('RT','')
    text = re.sub(r"(?:\@|https?\://)\S+", "", text).strip()
    return text

## TAGS

In [6]:
games = ['juegos','videojuegos','gaming','competiciones','streaming']
fem = ['jugadoras','mujeres','chicas','feminazi','machismo','feminismo']
combinations = [game+','+f for game in games for f in fem]

In [243]:
combinations

['juegos,jugadoras',
 'juegos,mujeres',
 'juegos,chicas',
 'juegos,feminazi',
 'juegos,machismo',
 'juegos,feminismo',
 'videojuegos,jugadoras',
 'videojuegos,mujeres',
 'videojuegos,chicas',
 'videojuegos,feminazi',
 'videojuegos,machismo',
 'videojuegos,feminismo',
 'gaming,jugadoras',
 'gaming,mujeres',
 'gaming,chicas',
 'gaming,feminazi',
 'gaming,machismo',
 'gaming,feminismo',
 'competiciones,jugadoras',
 'competiciones,mujeres',
 'competiciones,chicas',
 'competiciones,feminazi',
 'competiciones,machismo',
 'competiciones,feminismo',
 'streaming,jugadoras',
 'streaming,mujeres',
 'streaming,chicas',
 'streaming,feminazi',
 'streaming,machismo',
 'streaming,feminismo']

## Creating a stream listener

In [3]:
class MyStreamListener(tweepy.StreamListener):

    def __init__(self, api=None):
        # inherit class attributes
        super(MyStreamListener, self).__init__()
        self.num_tweets = 0
        self.file = open("tweets2.txt", "a")
        
    def on_error(self, status_code):
        if status_code == 420:
            print('420 error')
            #Ends stream in case of rate limiting
        print(status_code)
        return False 
        
    def on_status(self, status):
        tweet = status._json
        self.file.write( json.dumps(tweet) + ',\n' )
        
        self.num_tweets += 1
        if self.num_tweets < 5000:
            return True
        else:
            return False
        self.file.close()

In [4]:
myStreamListener = MyStreamListener()
myStream = tweepy.Stream(auth = api.auth, listener=myStreamListener)

In [7]:
myStream.filter(languages=["es"],track=games+fem, is_async=True)

## Agregate obtained values to DF

In [176]:
with open('improved_tweets.json') as json_file:
    data = json.load(json_file)
    columns = set()
    allowed_types = [str, int,bool]
    tweets_data = []
    for status in data:
        status = tweepy.Status().parse(None, status)
        try:
            status_dict = dict(vars(status))
            keys = status_dict.keys()
            single_tweet_data = {"author": status_dict['_json']['user']['screen_name'],"author_id":status_dict['_json']['user']['id_str']}
            for k in keys:
                try:
                    v_type = type(status_dict[k])
                except:
                    v_type = None
                if v_type != None:
                    if v_type in allowed_types:
                        single_tweet_data[k] = status_dict[k]
                        columns.add(k)
            if 'retweeted_status' in keys:
                single_tweet_data['full_text'] = status.retweeted_status.full_text
            tweets_data.append(single_tweet_data)
        except :
            continue
header_cols = list(columns)
header_cols.append('author')
header_cols.append("author_id")
df2 = pd.DataFrame(tweets_data, columns=header_cols)
df2

     quoted_status_id quoted_status_id_str lang possibly_sensitive  \
0                 NaN                  NaN   en                NaN
1                 NaN                  NaN   es                NaN
2                 NaN                  NaN  und              False
3                 NaN                  NaN   es                NaN
4                 NaN                  NaN   es                NaN
..                ...                  ...  ...                ...
437               NaN                  NaN   es              False
438               NaN                  NaN   en               True
439               NaN                  NaN   es              False
440               NaN                  NaN   en               True
441               NaN                  NaN   es              False

                  id_str  reply_count                   id   timestamp_ms  \
0    1332749776744574976            0  1332749776744574976  1606587282726
1    1332749804523417600            0  1332749804523417600  1606587289349
2    1332749939634548743            0  1332749939634548743  1606587321562
3    1332750021255712769            0  1332750021255712769  1606587341022
4    1332750058576621568            0  1332750058576621568  1606587349920
..                   ...          ...                  ...            ...
437  1332808982264737793            0  1332808982264737793  1606601398422
438  1332809104201576450            0  1332809104201576450  1606601427494
439  1332809131397361665            0  1332809131397361665  1606601433978
440  1332809104201576450            0  1332809104201576450  1606601427494
441  1332809131397361665            0  1332809131397361665  1606601433978

     truncated in_reply_to_status_id_str  ... in_reply_to_user_id  \
0        False                       NaN  ...                 NaN
1        False       1332748051786715137  ...        1.078549e+08
2        False                       NaN  ...                 NaN
3        False       1332730101709090818  ...        1.058329e+18
4        False       1332749140934217730  ...        1.115683e+09
..         ...                       ...  ...                 ...
437      False                       NaN  ...                 NaN
438      False                       NaN  ...                 NaN
439      False                       NaN  ...                 NaN
440      False                       NaN  ...                 NaN
441      False                       NaN  ...                 NaN

    is_quote_status  in_reply_to_user_id_str filter_level  \
0             False                      NaN          low
1             False                107854938          low
2             False                      NaN          low
3             False      1058328783311249408          low
4             False               1115682920          low
..              ...                      ...          ...
437           False                      NaN          low
438           False                      NaN          low
439           False                      NaN          low
440           False                      NaN          low
441           False                      NaN          low

     in_reply_to_status_id                                               text  \
0                      NaN  Black swan la pongo cuando quiero ser emo but ...
1             1.332748e+18  @CHERRYM0TlON lo siento ðŸ˜­ a mi no me gusta, pe...
2                      NaN                            https://t.co/a0Kx8CPXMO
3             1.332730e+18  @ElEnemigo9 JAJA ANIMOO!!\nA mi al principio m...
4             1.332749e+18  @Miguelcraft83 @fernandorubio81 Para partirse,...
..                     ...                                                ...
437                    NaN            La buena cena ðŸ˜ https://t.co/PvCcmAyClJ
438                    NaN          Joinnn me live at https://t.co/vT9Xtbl3SR
439                    NaN  Yaaaaaa estÃ¡ @mbonfil_65  pÃ³ngale a su canal ðŸ¥°...
440                    NaN          Joinnn me live at https://t.co/vT9Xtbl3SR
441                    NaN  Yaaaaaa estÃ¡ @mbonfil_65  pÃ³ngale a su canal ðŸ¥°...

     favorited  favorite_count           author            author_id
0        False               0     CHERRYM0TlON            107854938
1        False               0           exomcr            378282829
2        False               0         Tetrical            730506444
3        False               0       analorule9            548719958
4        False               0     EnApariencia   772970191139532804
..         ...             ...              ...                  ...
437      False               0      Bahamut1892           1491049057
438      False               0           kryznr  1323261102936018944
439      False               0  Astraxolotlgirl   753390369019039744
440      False               0           kryznr  1323261102936018944
441      False               0  Astraxolotlgirl   753390369019039744

[442 rows x 26 columns]

In [178]:
df3 = pd.concat([df,df2])

In [179]:
df3

,Unnamed: 0,quoted_status_id,quoted_status_id_str,lang,possibly_sensitive,id_str,id,truncated,in_reply_to_status_id_str,source,...,in_reply_to_status_id,favorited,favorite_count,author,author_id,reply_count,timestamp_ms,quote_count,filter_level,text
0,0.0,NaN,NaN,es,NaN,1332662039328731138,1332662039328731138,False,NaN,Twitter for iPhone,...,NaN,False,0,carmen4366,2875077087,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,es,NaN,1332656127864139782,1332656127864139782,False,NaN,Twitter for Android,...,NaN,False,2,ansexder,1193667502301237248,NaN,NaN,NaN,NaN,NaN
2,2.0,NaN,NaN,es,NaN,1332639420701401089,1332639420701401089,False,1.33233e+18,Twitter Web App,...,1.332333e+18,False,0,Sebatian2840,2351349126,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,es,NaN,1332632576771633153,1332632576771633153,False,1.33263e+18,Twitter for Android,...,1.332633e+18,False,0,Limon_Kawaii,819252867991240705,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,NaN,es,NaN,1332626228822630403,1332626228822630403,False,1.33263e+18,Twitter Web App,...,1.332626e+18,False,0,nemuritor98,459570327,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,NaN,NaN,NaN,es,False,1332808982264737793,1332808982264737793,False,NaN,Twitter for Android,...,NaN,False,0,Bahamut1892,1491049057,0.0,1606601398422,0.0,low,La buena cena ðŸ˜ https://t.co/PvCcmAyClJ
438,NaN,NaN,NaN,en,True,1332809104201576450,1332809104201576450,False,NaN,PlayStationÂ®Network,...,NaN,False,0,kryznr,1323261102936018944,0.0,1606601427494,0.0,low,Joinnn me live at https://t.co/vT9Xtbl3SR
439,NaN,NaN,NaN,es,False,1332809131397361665,1332809131397361665,False,NaN,Twitter for Android,...,NaN,False,0,Astraxolotlgirl,753390369019039744,0.0,1606601433978,0.0,low,Yaaaaaa estÃ¡ @mbonfil_65 pÃ³ngale a su canal ðŸ¥°...
440,NaN,NaN,NaN,en,True,1332809104201576450,1332809104201576450,False,NaN,PlayStationÂ®Network,...,NaN,False,0,kryznr,1323261102936018944,0.0,1606601427494,0.0,low,Joinnn me live at https://t.co/vT9Xtbl3SR
441,NaN,NaN,NaN,es,False,1332809131397361665,1332809131397361665,False,NaN,Twitter for Android,...,NaN,False,0,Astraxolotlgirl,753390369019039744,0.0,1606601433978,0.0,low,Yaaaaaa estÃ¡ @mbonfil_65 pÃ³ngale a su canal ðŸ¥°...

In [130]:
t = tweepy.models.Status(data[0])

In [171]:
stat = tweepy.Status().parse(None, data[0])

tweepy.Status().parse(None, data[0])

In [172]:
status_dict = dict(vars(stat))
keys = status_dict.keys()

# Obtain Tweets from ID's List on a file

In [118]:
def get_tweets_from_ids(ids,tweepy_api):
    columns = set()
    tweets_data = []
    allowed_types = [str, int,bool]
    i = 0
    for i in range(0,len(ids),100):
        for status in tweepy_api.statuses_lookup(id_=ids[i:i+99],tweet_mode='extended'):

                status_dict = dict(vars(status))
                keys = status_dict.keys()
                single_tweet_data = {"author": status_dict['_json']['user']['screen_name'],"author_id":status_dict['_json']['user']['id_str']}
                for k in keys:
                    try:
                        v_type = type(status_dict[k])
                    except:
                        v_type = None
                    if v_type != None:
                        if v_type in allowed_types:
                            single_tweet_data[k] = status_dict[k]
                            columns.add(k)
                if 'retweeted_status' in keys:
                    single_tweet_data['full_text'] = status.retweeted_status.full_text
                tweets_data.append(single_tweet_data)
    return pd.DataFrame(tweets_data)

def get_tweets_from_file(filename,api):
    ids = []
    with open(filename, 'r') as file:
        for line in file:
            currentPlace = line[:-1]
            ids.append(currentPlace)
    return get_tweets_from_ids(ids,api)

In [136]:
def transform_dataframe(df,misoginy):
    df['Misoginy'] = misoginy
    return df[['full_text','Misoginy']]

In [131]:
latin_misoginy = get_tweets_from_file('sela-latin-america-misogyny.txt',api)

In [138]:
latin_misoginy = transform_dataframe(latin_misoginy,1)

In [139]:
latin_misoginy

                                              full_text  Misoginy
0                          Feminazis ni que hijueputas.         1
1          @Gonkano Locas Feminazi aborteras matabebes.         1
2     @GermanT00752596 @TmazRsc Ahora me salieron fe...         1
3     Joda aquÃ­ en Twitter si debe haber feminazi, m...         1
4     @salartesoro No soy anti lgtb...no me molestan...         1
...                                                 ...       ...
1326  @periodistica @Amparogg_ @animesa ImbÃ©cil toda...         1
1327  En #Ecuador 2 mujeres ya fallecieron por #COVI...         1
1328  Libro antÃ­doto para mujeres inteligentes. http...         1
1329  El nacimiento de una #Feminazi https://t.co/KA...         1
1330  @jhoanaorozco01 ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ˜‚ viral apenas para las fem...         1

[1331 rows x 2 columns]

In [140]:
spain_misoginy = get_tweets_from_file('sela-spain-misogyny.txt',api)

In [141]:
spain_misoginy = transform_dataframe(spain_misoginy,1)

In [144]:
misoginy = pd.concat([latin_misoginy,spain_misoginy,])

In [149]:
spain_non_misoginy = get_tweets_from_file('sela-spain-non-misogyny.txt',api)

In [150]:
spain_non_misoginy = transform_dataframe(spain_non_misoginy,0)

In [151]:
latin_non_misoginy = get_tweets_from_file('sela-latin-america-non-misogyny.txt',api)

In [152]:
latin_non_misoginy = transform_dataframe(latin_non_misoginy,0)

In [155]:
non_misoginy = pd.concat([spain_non_misoginy,latin_non_misoginy])

In [156]:
non_misoginy

                                             full_text  Misoginy
0    Bravo @inMatrix5.\nEfectivamente, @A_LopezMara...         0
1    @ibarweb @MAbolicion @TFeminista_ Cultura pued...         0
2    @Persona_regular @anarob12 @Malequith Mi argum...         0
3    La tÃ­pica de: â€œes que yo conozco a uno del cas...         0
4    @OrbitaEduardo Y si no dice que la has violado...         0
..                                                 ...       ...
388  Yo cada vez que escucho a alguien decir la pal...         0
389  @patriciagamarra Realmente ese seÃ±or es super ...         0
390  @dark_lion7 @Siderola Por otro lado, tenemos e...         0
391  Ni media hora en la casa y ya me estoy peleand...         0
392  Berro yo no soy feminista pero no me cogeria a...         0

[1671 rows x 2 columns]

In [159]:
full_dataset = pd.concat([misoginy,non_misoginy])

In [158]:
def clean_text_column(text): 
    text = text.replace('RT','') 
    text = re.sub(r"(?:\@|https?\://)\S+", "", text).strip() 
    return text

In [162]:
full_dataset['full_text'] = full_dataset['full_text'].apply(clean_text_column)

In [163]:
full_dataset

                                             full_text  Misoginy
0                         Feminazis ni que hijueputas.         1
1                  Locas Feminazi aborteras matabebes.         1
2                   Ahora me salieron feminazis jajaja         1
3    Joda aquÃ­ en Twitter si debe haber feminazi, m...         1
4    No soy anti lgtb...no me molestan...ni me preo...         1
..                                                 ...       ...
388  Yo cada vez que escucho a alguien decir la pal...         0
389  Realmente ese seÃ±or es super agresivo con los ...         0
390  Por otro lado, tenemos el deber aunque no la o...         0
391  Ni media hora en la casa y ya me estoy peleand...         0
392  Berro yo no soy feminista pero no me cogeria a...         0

[4368 rows x 2 columns]

In [ ]:
full_dataset.to_csv('misoginy_classification.csv')